{% extends 'base.html' %}

{%block content%}
<div class="container">
    <aside>
    <div class="user">
        <img src="{{ user.profile_pic }}" alt="Image for {{ user.username }}" id="profile-avatar">
        <h2>@{{user.username}}</h2>
        <p>{{user.bio}}</p>
        <button><a href="/user/edit">Edit Profile</a></button>
    </div>
    <div><h2>Favorited Meals</h2></div>
    <div>
        <h2>Find New Meals</h2>
        <div class="search-bar-container">
            //putting something in here for advanced search
        </div>
    </div>
    </aside>
</div>

{% endblock %}