{%extends 'header.html'%}
{%block content%}
	<!--main-->
	<main class="main" role="main">
		<!--wrap-->
		<div class="wrap clearfix">
			<!--breadcrumbs-->
			<nav class="breadcrumbs">
				<ul>
					<li><a href="/" title="Home">Home</a></li>
					<li><a href="/recipes" title="Recipes">Recipes</a></li>
					<li><a href="recipes.html" title="Cocktails">Deserts</a></li>
					<li>Recipe</li>
				</ul>
			</nav>
			<!--//breadcrumbs-->
			
			<!--row-->
			<div class="row">
				<header class="s-title">
					<h1>{{recipe.title}}</h1>
				</header>
				<!--content-->
				<section class="content three-fourth">
					<!--recipe-->
						<div class="recipe">
							<div class="row">
								<!--two-third-->
								<article class="two-third">
									<div class="image"><a href="#"><img src="{{recipe.image}}" alt="" /></a></div>
									<div class="intro"><p><strong>{{recipe.title}}</strong></p> {{recipe.summary|safe}}</div>
                                    
									<div class="instructions">
										<ol>
                                            {%for obj in recipe.analyzedInstructions%}
                                            {%for ob in obj.steps%}
											<li>{{ob.step}}</li>
                                            {%endfor%}
                                            {%endfor%}
											
										</ol>
									</div>
								</article>
								<!--//two-third-->
								
								<!--one-third-->
								<article class="one-third">
									<dl class="basic">
										<dt>Time Needed</dt>
										<dd>{{recipe.readyInMinutes}} min</dd>
										<dt>Health Score</dt>
										<dd>{{recipe.healthScore}}</dd>
										<dt>Serves</dt>
										<dd>{{recipe.servings}}</dd>
									</dl>
									
									<dl class="user">
										<dt>Category</dt>
										<dd>{{recipe.dishTypes[1]}}</dd>
									</dl>
									
									<dl class="ingredients">
                                        {%for item in recipe.extendedIngredients%}
										<dt>{{item.amount}} {{item.unit}}</dt>
										<dd>{{item.originalName}}</dd>
                                        {%endfor%}
									</dl>
								</article>
								<!--//one-third-->
							</div>
						</div>
						<!--//recipe-->
				</section>
				<!--//content-->
				
				<!--right sidebar-->
				<aside class="sidebar one-fourth">
					<div class="widget nutrition">
						<h3>Nutrition facts <span>(per serving)</span></h3>
						<table>
                            {%for obj in recipe.nutrition.nutrients%}
							<tr>
								<td>{{obj.name}}</td>
								<td>{{obj.amount}} {{obj.unit}}</td>
							</tr>
                            {%endfor%}
						</table>
					</div>
					
					<div class="widget share">
						<ul class="boxed">
							<li class="light"><a href="/recipes" title="Facebook"><i class="fa fa-cutlery"></i> <span>More Recipes</span></a></li>
                            <li style="background-color: #FF7A73!important; color: white!important;" class="medium orange-bg likes-recipe" data-id="{{recipe.id}}" data-title="{{recipe.title}}" data-img="{{recipe.image}}"><i class="fa fa-heart-o like" data-id="{{recipe.id}}" data-title="{{recipe.title}}" data-img="{{recipe.image}}"></i> <span>Add to Favorites</span></li>
							<li class="dark"><a href="/contact" title="Twitter"><i class="fa fa-question-circle"></i> <span>Ask questions</span></a></li>
						</ul>
					</div>
				</aside>
				<!--//right sidebar-->
			</div>
			<!--//row-->
		</div>
		<!--//wrap-->
	</main>
	<!--//main-->
{%endblock%}